@model Employee_App.Models.Employee.EmployeeModel

@{
}
<h2>Usuń Pracownika</h2>

<p>Czy na pewno chcesz usunąć tego pracownika?</p>

<div>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Imię</th>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th scope="row">Nazwisko</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th scope="row">PESEL</th>
                <td>@Html.DisplayFor(model => model.PESEL)</td>
            </tr>
            <tr>
                <th scope="row">Stanowisko</th>
                <td>@Html.DisplayFor(model => model.Position)</td>
            </tr>
            <tr>
                <th scope="row">Dział</th>
                <td>@Html.DisplayFor(model => model.Department)</td>
            </tr>
            <tr>
                <th scope="row">Data Zatrudnienia</th>
                <td>@Html.DisplayFor(model => model.HireDate)</td>
            </tr>
            <tr>
                <th scope="row">Data Zakończenia</th>
                <td>@Html.DisplayFor(model => model.TerminationDate)</td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </form>
</div>
