@model Employee_App.Models.Employee.EmployeeModel

@{
    ViewData["Title"] = "Szczegóły Pracownika";
}

<h2>Szczegóły Pracownika</h2>

<div class="container mt-4">
    <hr />
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Imię</th>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th>PESEL</th>
                <td>@Html.DisplayFor(model => model.PESEL)</td>
            </tr>
            <tr>
                <th>Stanowisko</th>
                <td>@Html.DisplayFor(model => model.Position)</td>
            </tr>
            <tr>
                <th>Dział</th>
                <td>@Html.DisplayFor(model => model.Department)</td>
            </tr>
            <tr>
                <th>Data Zatrudnienia</th>
                <td>@Html.DisplayFor(model => model.HireDate)</td>
            </tr>
            <tr>
                <th>Data Zakończenia</th>
                <td>@Html.DisplayFor(model => model.TerminationDate)</td>
            </tr>

            @if (Model.Employer != null)
            {
                <tr>
                    <th>Nazwa Firmy</th>
                    <td>@Model.Employer.CompanyName</td>
                </tr>
                <tr>
                    <th>NIP</th>
                    <td>@Model.Employer.NIP</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center">Informacje o Pracodawcy niedostępne</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <a asp-action="Index" class="btn btn-primary">Powrót do Listy</a>
    </div>
</div>
