@model List<Employee_App.Models.Employee.EmployeeModel>

<h2>Lista Pracowników</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Nowego Pracownika</a>
</p>
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>PESEL</th>
                <th>Stanowisko</th>
                <th>Dział</th>
                <th>Data Zatrudnienia</th>
                <th>Data Zakończenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.PESEL</td>
                    <td>@employee.Position</td>
                    <td>@employee.Department</td>
                    <td>@employee.HireDate.ToShortDateString()</td>
                    <td>@(employee.TerminationDate?.ToShortDateString() ?? "Brak")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-info">Szczegóły</a>
                        <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Edytuj</a>
                        <a asp-action="ConfirmDelete" asp-route-id="@employee.Id" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak pracowników</p>
}
